/* FOR ALL */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);


/* align the widget when viewport width is above 768px */
@media screen and (min-width: 768px) {
	#api_upc_cid35_iid1672 {
		margin-top: -24px;
	}
	/* #navbar-hide {
		display: none;
	} */
}

@media screen and (max-width: 768px) {
	#page-header-v1 {
		display: none;
	}
	#first-row {
		margin-top: 75px;
	}

}
@media screen and (max-width: 504px) {
	#first-row {
		margin-top: 115px;
	}
	.navbar-brand {
		font-size: 1em;
	}

}

/* FOR LISTGROUPS (v1 & v3) */
/* hover color for listgroup  */

li.list-group-item:hover {
	background-color: rgb(243, 243, 243);
}

#list-group-body {
	-webkit-overflow: hidden;
	-moz-overflow: hidden;
	-ms-overflow: hidden;
	-o-overflow: hidden;
	overflow: hidden;
}


/* FOR V1 */
/* for imgs on v1 */
#max-width-img {
	display: inline-flex;
	width: 49%;
	margin: auto;
}

/* FOR V2 */
/* styles for cards on v2 */
  .flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
} 
  .img-thumbnail {
	max-width:300px; 
    height: auto;
}

	.img-thumbnail:hover {
		background-color:	rgb(243, 243, 243);
}
/* FOR V3 */
/* carousel styles for v3 */
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}
/* background for feature blurb */
	.carousel-caption {
		background-color: #f1b82d;
		border-radius: 20px;
}
/* style the heading */
	.carousel-text-lg {
		font-size: 1.9em;
		text-shadow: 1px;
		font-weight: 1px;
}
/* style the subheading */
  .carousel-text-md {
		font-size: 1.3em;
}
/* Make the nav sticky relative to previous element  */
#sticky-nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 100;
}

/* Styling for overlay, v4 & v5 */
body {
	font-family: 'Lato', sans-serif;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 5%;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 2em;
	color: #f1b82d;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	background-color: #2b2929b7;
}

/* .overlay .closebtn {
	position: absolute;
	top: 40px;
	right: 45px;
	font-size: 60px;
} */

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
}