/* FOR ALL */
/* align the widget when viewport width is above 768px */
@media screen and (min-width: 768px) {
	#api_upc_cid35_iid1672 {
		margin-top: -24px;
	}
	/* #navbar-hide {
		display: none;
	} */
}

@media screen and (max-width: 768px) {
	#page-header-v1 {
		display: none;
	}
	#first-row {
		margin-top: 75px;
	}

}
@media screen and (max-width: 504px) {
	#first-row {
		margin-top: 115px;
	}

}

/* FOR LISTGROUPS (v1 & v3) */
/* hover color for listgroup  */

li.list-group-item:hover {
	background-color: rgb(243, 243, 243);
}

#list-group-body {
	-webkit-overflow: hidden;
	-moz-overflow: hidden;
	-ms-overflow: hidden;
	-o-overflow: hidden;
	overflow: hidden;
}


/* FOR V1 */
/* for imgs on v1 */
#max-width-img {
	display: inline-flex;
	width: 49%;
	margin: auto;
}

/* FOR V2 */
/* styles for cards on v2 */
  .flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
} 
  .img-thumbnail {
	max-width:300px; 
    height: auto;
}

	.img-thumbnail:hover {
		background-color:	rgb(243, 243, 243);
}
/* FOR V3 */
/* carousel styles for v3 */
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}
/* background for feature blurb */
	.carousel-caption {
		background-color: #f1b82d;
		border-radius: 20px;
}
/* style the heading */
	.carousel-text-lg {
		font-size: 1.9em;
		text-shadow: 1px;
		font-weight: 1px;
}
/* style the subheading */
  .carousel-text-md {
		font-size: 1.3em;
}